<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FUNTIMES batch file game">
    <meta name="author" content="tassaron">
    <title>FUNTIMES</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <style>
        body {
            background: rgb(36, 1, 36);
            color: white;
        }
    </style>
</head>

<body>
    <img src="{{url_for('static', filename='img/cmdexe.png')}}">
    <p>
    <pre>{{ content }}</pre>
    </p>
    <form action="/" method="post">
        <input type="text" name="user_input"><input type="submit" value="&#11176;&nbsp;Enter">
    </form>
</body>

</html>
